body {
        text-align: center;
        margin: auto;
        font-size: 60px;
        }

button{
        font-size: 60px;
        margin: auto;
        }

.add,.sub{
        font-size: 70px;
        font-weight: bold;
        width: 100%;
            }

 p{
  font-size: 60px;
  }
