@media (orientation: landscape){

                
        #rgbColorVisualizer{
                width: 70%;
                height: 150px;
                margin: auto;
                border-radius: 20px ;
                border: solid black 2px;
                background-color: rgb(0,0,0);
                }

        .rgbInput, .cmyInput, .cmkyInput  {
                width: 70%;
                text-align: center;
                margin: auto;
                }
        
        
        #cmyColorVisualizer, #cmykColorVisualizer{
                width: 70%;
                height: 150px;
                margin: auto;
                border-radius: 20px ;
                border: solid black 2px;
                background-color: rgb(255, 255, 255);
                }

        
        #hslColorVisualizer, #hsvColorVisualizer{
                width: 70%;
                height: 150px;
                margin: auto;
                border-radius: 20px ;
                border: solid black 2px;
                background-color: hsl(0, 100%, 50%);
                }

        .hslInput, .hsvInput{
                width: 60%;
                text-align: center;
                margin: auto;
                }

        #wall{
                width: 50%;
                height: 90px;
                border: solid black 3px;
                margin: auto;
                background-color: hsl(81, 95%, 26%);
                }


        #ballShadow{
                position: relative;
                width: 50px;
                height: 50px;
                background-color: hsl(81, 95%, 15%);
                border-radius: 25px;
                top: 30%;
                left: 20%;
                }

        /* Venn Diagrams */

        #blackScreen{
                background-color: black;
                width: 55%;
                height: 200px;
                margin: auto;
                border-radius: 10px;
                }

        .rgbCircles {
                position: relative;
                margin: auto;
                height: 120px;
                width: 120px;
                border-radius: 60px;
                mix-blend-mode: screen;
                }

          #circleRed{
                background-color: red;
                top: 10px;
                }

          #circleBlue{
                background-color: rgb(0, 0, 255);
                bottom: 180px;
                left: 30px;
                }

          #circleGreen{
                background-color: rgb(0, 255, 0);
                bottom: 60px;
                right: 30px;
                }

          #whiteCanvas{
                background-color: white;
                width: 55%;
                height: 200px;
                margin: auto;
                border-radius: 10px;
                border: solid 3px black;
                z-index: 0;
                }

          .cmyCircles {
              position: relative;
              margin: auto;
              height: 120px;
              width: 120px;
              border-radius: 60px;
              mix-blend-mode: multiply;
              }

          #circleCyan{
              background-color: cyan;
              top: 10px;
              z-index: 1
            }

        #circleYellow{
            background-color: rgb(255, 255, 0);
            bottom: 180px;
            left: 30px;
          }

        #circleMagenta{
            background-color: magenta;
            bottom: 60px;
            right: 30px;
            }

        #secondWhiteCanvas{
          width: 55%;
          height: 200px;
          margin: auto;
          border-radius: 10px;
          border: solid 3px black;
          z-index: 0;
          }

      .rybCircles {
          position: relative;
          margin: auto;
          height: 120px;
          width: 120px;
          border-radius: 60px;
          mix-blend-mode: luminosity;
          }

      #circleBlue2{
          background-color: rgba(0, 0, 200, 70%);
          top: 10px;
          z-index: 1
          }

      #circleYellow2{
          background-color: rgba(190, 190, 0, 90%);
          bottom: 180px;
          left: 30px;
          }

      #circleRed2{
          background-color: rgba(200, 0, 0, 80%);
          bottom: 60px;
          right: 30px;
          }
                            
}



/* General code */

.text{
        text-align: justify;
    }


.imageCaption{
                font-size: 0.7rem; 
                font-style: italic; 
                text-align: center;
            }


#rgbCode, #hexCode{
                    width: 90%;
                    font-family: monospace;
                    font-size: 95%;
                    font-weight: 600;
                    margin: auto;
                    border: black solid 1px;
                    border-radius: 10px;
                    background-color: #2f3152;
                    color: #86badc;
                    }


#rgbColorVisualizer{
                    width: 70%;
                    height: 350px;
                    margin: auto;
                    border-radius: 20px;
                    border: solid black 2px;
                    background-color: rgb(0,0,0);
                    }

.rgbInput, .cmyInput, .cmkyInput {
                                    width: 70%;
                                    text-align: center;
                                    margin: auto;
                                }

.outputValue{
            font-weight: 900;
            position: absolute;
            text-align: left;
            font-size: 30px;
            }

#title{
        text-align: center;
        font-weight: 900;
        background: -webkit-linear-gradient( red, orange, yellow,green, cyan, blue, violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }

h2{
  text-align: center;
}

#cmyColorVisualizer, #cmykColorVisualizer{
                                            width: 70%;
                                            height: 350px;
                                            margin: auto;
                                            border-radius: 20px ;
                                            border: solid black 2px;
                                            background-color: rgb(255, 255, 255);
                                        }

.codeOutput{
            font-family: monospace;
            text-align: center ;
            }


/* hsl stuff*/

#hslColorVisualizer, #hsvColorVisualizer{
                                        width: 70%;
                                        height: 350px;
                                        margin: auto;
                                        border-radius: 20px;
                                        border: solid black 2px;
                                        background-color: hsl(0, 100%, 50%);
                                        }

.hslInput, .hsvInput{
                    width: 60%;
                    text-align: center;
                    margin: auto;
                    }

#wall{
    width: 50%;
    height: 250px;
    border: solid black 3px;
    margin: auto;
    background-color: hsl(81, 95%, 26%);
    }


#ballShadow{
            position: relative;
            width: 50px;
            height: 50px;
            background-color: hsl(81, 95%, 15%);
            border-radius: 25px;
            top: 30%;
            left: 20%;
            }

/* Venn Diagrams */

#blackScreen{
            background-color: black;
            width: 75%;
            height: 500px;
            margin: auto;
            border-radius: 10px;
}

.rgbCircles {
            position: relative;
            margin: auto;
            height: 300px;
            width: 300px;
            border-radius: 150px;
            mix-blend-mode: screen;
}

#circleRed{
            background-color: red;
            top: 30px;
            }

  #circleBlue{
                background-color: rgb(0, 0, 255);
                bottom: 440px;
                left: 75px;
            }

 #circleGreen{
            background-color: rgb(0, 255, 0);
            bottom: 140px;
            right: 75px;
            }

  #whiteCanvas{
                background-color: white;
                width: 55%;
                height: 500px;
                margin: auto;
                border-radius: 10px;
                border: solid 3px black;
                z-index: 0;
                }

.cmyCircles {
            position: relative;
            margin: auto;
            height: 300px;
            width: 300px;
            border-radius: 150px;
            mix-blend-mode: multiply;
            }

#circleCyan{
            background-color: cyan;
            top: 30px;
            z-index: 1
            }

  #circleYellow{
                background-color: rgb(255, 255, 0);
                bottom: 440px;
                left: 75px;
                }

 #circleMagenta{
                background-color: magenta;
                bottom: 140px;
                right: 75px;
                }

#secondWhiteCanvas{
                    width: 55%;
                    height: 500px;
                    margin: auto;
                    border-radius: 10px;
                    border: solid 3px black;
                    z-index: 0;
                    }

.rybCircles {
            position: relative;
            margin: auto;
            height: 300px;
            width: 300px;
            border-radius: 150px;
            mix-blend-mode: luminosity;
            }

#circleBlue2{
            background-color: rgba(0, 0, 200, 70%);
            top: 30px;
            z-index: 1
            }

  #circleYellow2{
                background-color: rgba(190, 190, 0, 90%);
                bottom: 440px;
                left: 75px;
                }

 #circleRed2{
            background-color: rgba(200, 0, 0, 80%);
            bottom: 140px;
            right: 75px;
            }



  /*ilusion*/

.principal{
            height: 500px;
            width: 300px;
            margin: auto;
            display: inline-block;
        }

.secundario{
            height: 200px;
            width: 150px;
            margin: auto;
            position: relative;
            top: 100px;
            }

.parteIluminada{
                position: relative;
                top: 50px;
                height: 200px;
                margin: auto;
                width: 200px;
                background-color: #8f7c6d;
                border-radius: 10px;
                }

.parteIluminadaSecundaria{
                        height: 100px;
                        width: 150px;
                        margin: auto;
                        position: relative;
                        top: 0px;
                        background-color: #938cbb;
                        }

#azulEscuro{
            background-color:  rgb(11, 10, 21);
            }

#azulClaro{
            background-color: rgb(15, 23, 87);
            }


#amarelo{
        background-color: #f6de62;
        }

#branco{
        background-color: #fffeff;
        }


#signature{
        font-size: 10px;
        text-align: center;
        }

  /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

    /*Created with http://danielstern.ca/range.css/#/*/

input[type=range] {
  width: 100%;
  margin: -3.1px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #5b1417;
  border: 0;
  width: 100%;
  height: 31.2px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: 3.1px;
  width: 34px;
  height: 25px;
  background: rgba(114, 210, 107, 0.8);
  border: 2.9px solid #5a901e;
  border-radius: 28px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #70191c;
}
input[type=range]::-moz-range-track {
  background: #5b1417;
  border: 0;
  width: 100%;
  height: 31.2px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 34px;
  height: 25px;
  background: rgba(114, 210, 107, 0.8);
  border: 2.9px solid #5a901e;
  border-radius: 28px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0 0;
  color: transparent;
  width: 100%;
  height: 31.2px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #460f12;
  border: 0;
}
input[type=range]::-ms-fill-upper {
  background: #5b1417;
  border: 0;
}
input[type=range]::-ms-thumb {
  width: 34px;
  height: 25px;
  background: rgba(114, 210, 107, 0.8);
  border: 2.9px solid #5a901e;
  border-radius: 28px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #5b1417;
}
input[type=range]:focus::-ms-fill-upper {
  background: #70191c;
}
#redIńput:focus::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #000000, #ff0000);
}

/*Individual sliders*/

#redInput::-webkit-slider-runnable-track{
                                        background: linear-gradient(to right, #000000, #ff0000);
                                        }
#redInput::-moz-range-track {
                              background: linear-gradient(to right, #000000, #ff0000);
                             }
#redInput::-ms-track {
                        background: linear-gradient(to right, #000000, #ff0000);
                        }

#blueInput::-webkit-slider-runnable-track{
                                        background: linear-gradient(to right, #000000, #0000ff);
                                        }
#blueInput::-moz-range-track {
                              background: linear-gradient(to right, #000000, #0000ff);
                             }
#blueInput::-ms-track {
                        background: linear-gradient(to right, #000000, #0000ff);
                        }

#greenInput::-webkit-slider-runnable-track{
                                        background: linear-gradient(to right, #000000, #00ff00);
                                        }
#greenInput::-moz-range-track {
                              background: linear-gradient(to right, #000000, #00ff00);
                             }
#greenInput::-ms-track {
                        background: linear-gradient(to right, #000000, #00ff00);
                        }
#cyanInput::-webkit-slider-runnable-track, #cyanInputCMYK::-webkit-slider-runnable-track{
                                        background: linear-gradient(to right, #ffffff, #00ffff);
                                        }
#cyanInput::-moz-range-track, #cyanInputCMYK::-moz-range-track {
                              background: linear-gradient(to right, #ffffff, #00ffff);
                             }
#cyanInput::-ms-track, #cyanInputCMYK::-ms-track {
                        background: linear-gradient(to right, #ffffff, #00ffff);
                        }
#magentaInput::-webkit-slider-runnable-track, #magentaInputCMYK::-webkit-slider-runnable-track{
                                        background: linear-gradient(to right, #ffffff, #ff00ff);
                                        }
#magentaInput::-moz-range-track, #magentaInputCMYK::-moz-range-track {
                              background: linear-gradient(to right, #ffffff, #ff00ff);
                             }
#magentaInput::-ms-track, #magentaInputCMYK::-ms-track {
                        background: linear-gradient(to right, #ffffff, #ff00ff);
                        }
#yellowInput::-webkit-slider-runnable-track, #yellowInputCMYK::-webkit-slider-runnable-track{
                                        background: linear-gradient(to right, #ffffff, #ffff00);
                                        }
#yellowInput::-moz-range-track, #yellowInputCMYK::-moz-range-track {
                              background: linear-gradient(to right, #ffffff, #ffff00);
                             }
#yellowInput::-ms-track, #yellowInputCMYK::-ms-track {
                        background: linear-gradient(to right, #ffffff, #ffff00);
                        }
#blackInputCMYK::-webkit-slider-runnable-track{
                                        background: linear-gradient(to right, #ffffff, #000000);
                                        }
#blackInputCMYK::-moz-range-track {
                              background: linear-gradient(to right, #ffffff, #000000);
                             }
#blackInputCMYK::-ms-track {
                        background: linear-gradient(to right, #ffffff, #000000);
                        }
#hueInput::-webkit-slider-runnable-track, #hsvHueInput::-webkit-slider-runnable-track{
            background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
            }
#hueInput::-moz-range-track, #hsvHueInput::-moz-range-track {
            background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
            }
#hueInput::-ms-track, #hsvHueInput::-ms-track {
            background: linear-gradient(to right, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%));
            }
#saturationInput::-webkit-slider-runnable-track{
                                        background: linear-gradient(to right, hsl(0, 0%, 50%), hsl(0, 100%, 50%));
                                        }
#saturationInput::-moz-range-track {
                              background: linear-gradient(to right, hsl(0, 0%, 50%), hsl(0, 100%, 50%));
                             }
#saturationInput::-ms-track {
                        background: linear-gradient(to right, hsl(0, 0%, 50%), hsl(0, 100%, 50%));
                        }
#lightnessInput::-webkit-slider-runnable-track{
                                        background: linear-gradient(to right, hsl(0, 100%, 0%), hsl(0, 100%, 100%));
                                        }
#lightnessInput::-moz-range-track {
                              background: linear-gradient(to right, hsl(0, 100%, 0%), hsl(0, 100%, 100%));
                             }
#lightnessInput::-ms-track {
                        background: linear-gradient(to right, hsl(0, 100%, 0%), hsl(0, 100%, 100%));
                        }
