#timer{
    font-size: 60px;
    text-align: center;
    font-family: monospace;
    background-color: lightblue;
    width: 40%;
    border: solid black 3px;
    border-radius: 15px;
    }


button{
  width: auto;
  height: 120px;
  font-weight: bold;
  font-size: 50px;
  border-radius: 120px;
  display: inline;
  margin: auto;
    }


#startButton{
    font-size: 100px;
    width: 70%;
    }


#container{
  width: 50%;
  float: center;
    }


#firstValue{
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    height: 90%;
    padding: 10px 0;
    }


#secondValue{
    font-size: 80px;
    font-weight: bold;
    font-family: sans-serif;
    height: 100%;
    padding: 10px 0;
    }


#buttons{
    display: inline;
    width: 30%;
    }


.div{
    display: inline;  
    margin: auto;
    float: center;
    }


#instructions{
            font-size: 20px;
            height: auto;
            width: auto;
            margin: auto;
            text-align: center;
            float: center;
            }


#signature{
    font-size: 20px;
    text-align: center;
    }
