 
  *{
    margin: auto;
    font-size: 3em;
    }
  
  #question{
    font-family: monospace;
    margin: auto;
    text-align:  center;
    }

  #score{
     margin: auto;
     text-align:  center;
    }

  #feedback{
    font-family: monospace;
    }

  div{
    text-align: center;
    }

  h1{
    margin-right: auto;
    margin-left: auto;
    text-align:  center;
    font-family: cursive;
  }


  button{
    font-size: 20px;
    }

  input{
    font-size: 20px;
    width: 100px ;
    text-align: center;
    }

  .number{
    font-size: 30px;
    width: 50px;
    font-family: monospace;
    }

  #problem {
    text-align: center ;
    font-family: monospace;
    }

  .keys {
    font-size: 0;
    }

  #signature{
        font-size: 10px;
        text-align: center;
        }
