 
@media (orientation: portrait){

    h1{
        font-size: 600%;
        font-family: cursive;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        }

    div{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        }
   

    button{
        font-size: 65px;
        margin-left: auto;
        margin-right: auto;
        }

    input{
        font-size: 60px;
        width: 150px ;
        text-align: center;
        }

    .number{
        font-size: 100px;
        width: 115px;
        font-family: monospace;
        }

    #problem {
            text-align: center ;
            font-family: monospace;
            font-size: x-large;
            }

    .keys {
            font-size: 0;
            }

    #livesleft,#correctanswers, #sectionLength{
            font-size: 350%;
            }

    #feedback{
            font-size: 160%;
            font-family: monospace;
            }


    #signature{
        font-size: 12px;
        text-align: center;
    }
}


@media (orientation: landscape){
    
    
    h1{
        font-size: 300%;
        font-family: monospace;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        }

    div{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        }


    button{
        font-size: 40px;
        }

    input{
        font-size: 60px;
        width: 150px ;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        }

    .number{
        font-size: 60px;
        width: 85px;
        font-family: monospace;
        }

    #problem {
            text-align: center ;
            font-family: monospace;
            font-size: x-large;
            }

    .keys {
            font-size: 0;
            display: flex;
            flex-direction: row;
            text-align: center;
            float: center;
            margin-left: auto;
            margin-right: auto;
            }

    #feedback,#livesleft,#correctanswers{
        font-size: 175%;
        font-family: monospace;
    }
    
    p{ 
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        }


    #signature{
        font-size: 12px;
        text-align: center;
    }
}
    
}
