p{
    font-size: 15px;
    font-family: Arial;
    line-height: 1.5;
    }

#box{
    text-align: center;  
    width: 60%;
    background-color: lavender;
    border: solid black 1px;
    border-radius: 10px;
    }

#output{
    text-align: left;
    }


h3 {
    text-align: center;
    }

#horizontalShadow, #verticalShadow, #blurShadow {
    width: 60px;
    }


  /*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

    /*Created with http://danielstern.ca/range.css/#/*/

input[type=range] {
  width: 100%;
  margin: -3.1px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #5b1417;
  border: 0;
  width: 100%;
  height: 31.2px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: 3.1px;
  width: 34px;
  height: 25px;
  background: rgba(114, 210, 107, 0.8);
  border: 2.9px solid #5a901e;
  border-radius: 28px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #70191c;
}
input[type=range]::-moz-range-track {
  background: #5b1417;
  border: 0;
  width: 100%;
  height: 31.2px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 34px;
  height: 25px;
  background: rgba(114, 210, 107, 0.8);
  border: 2.9px solid #5a901e;
  border-radius: 28px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 0 0;
  color: transparent;
  width: 100%;
  height: 31.2px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #460f12;
  border: 0;
}
input[type=range]::-ms-fill-upper {
  background: #5b1417;
  border: 0;
}
input[type=range]::-ms-thumb {
  width: 34px;
  height: 25px;
  background: rgba(114, 210, 107, 0.8);
  border: 2.9px solid #5a901e;
  border-radius: 28px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #5b1417;
}
input[type=range]:focus::-ms-fill-upper {
  background: #70191c;
}


#signature{    
    font-size: 10px;
    text-align: center;
}
