body {
     font-family: Serif;
     background-color: lightSteelBlue ;
     }

h2{
  text-decoration: underline overline dashed darkslategray ;
  font-size: 300%;
  }

input{
     width: 120px;
     height: 200%;
     font-size: 300%;
    }

th{
  font-size: 37px;
  }

button{
      border-radius: 5px ;
      font-family: monospace;
      font-size: 250%;
      }

#today{
       font-size: 18px ;
       text-align: center;
       font-family: monospace ;
      }

#out2{
     font-weight: bold;
     font-family: monospace;
     font-size: 30px ;
     }

#outputbox{
           border: solid 1px lightGray;
           background-color: gainsboro;
           border-radius: 5px;
           margin-top: 5px;
           color: black ;
          }

#convertion{
            text-align: right;
            font-family: monospace ;
            }

#out5{
      font-weight: bold;
      font-family: monospace;
      font-size: 30px ;
      }

#distances{
          text-align: right;
          font-family: monospace ;
          }

#calendar1, #calendar2, #calendar3{
          width: 300px;
          height: 200%;
          font-size: 200%;
          }

.bar{
    width: 100%;
    height: 4px ;
    font-weight: bold;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) ;
    }

#signature{
          font-size: 20px;
          text-align: center;
          }
